<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/risorse :: risorse-head"></th:block>
	<title>Pizza edit</title>
</head>

<body>
	<nav th:replace="fragments/navbar :: navbar('edit')"></nav>
	<div class="container">
		<p>
		<h1 th:text="${pizza.id != null} ? 'Modifica la pizza' : 'Aggiungi una pizza (senza frutta cortesemente)'"></h1>
		<p>
		<form id="form-pizza" th:object="${pizza}" th:action="@{/save}" method="POST">
			<!--  campo nascosto per l'id -->
			<input type="hidden" th:field="*{id}">
			<div class="mb-3">
				<label class="form-label" for="name">Nome</label>
				<input type="text" id="name" class="form-control" th:field="*{name}" th:errorClass="is-invalid">
				<div th:if="${#fields.hasErrors('name')}" class="invalid-feedback">
					<ul>
						<li th:each="err : ${#fields.errors('name')}" th:text="${err}">
					</ul>
				</div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="description">Descrizione</label>
				<input type="text" id="description" class="form-control" th:field="*{description}" th:errorClass="is-invalid">
				<div th:if="${#fields.hasErrors('description')}" class="invalid-feedback">
					<ul>
						<li th:each="err : ${#fields.errors('description')}" th:text="${err}">
					</ul>
				</div>
			</div>
			<div class="mb-3">
				<label class="form-label" for="price">Prezzo (€)</label>
				<input type="number" id="price" step=0.5 class="form-control" th:field="*{price}" th:errorClass="is-invalid">
				<div th:if="${#fields.hasErrors('price')}" class="invalid-feedback">
					<ul>
						<li th:each="err : ${#fields.errors('price')}" th:text="${err}">
					</ul>
				</div>
			</div>
			<p>
			<div>
				<button type="submit" class="btn btn-success"
					th:text="${pizza.id != null} ? 'Modifica' : 'Salva'"></button>
				<a class="btn btn-secondary" href="/list">Torna indietro</a>
			</div>
			<p>
			<div class="mb-3">
				<h4>Ingredienti</h4>
				<div class="form-check" th:each="ing : ${ingredientiList}">
				  <input class="form-check-input" th:field="*{ingredienti}" type="checkbox" th:id="|ingredienti_${ing.id}|" th:value="${ing.id}">
				  <label class="form-check-label" th:for="|ingredienti_${ing.id}|" th:text="${ing.name}"></label>
				</div>
				
			</div>
		</form>
	</div>

	<th:block th:replace="fragments/risorse :: risorse-js"></th:block>
</body>

</html>