<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/risorse :: risorse-head"></th:block>
	<title>Pizzeria</title>
</head>

<body>
	<div th:replace="fragments/navbar :: navbar('home')"></div>
	<p>
	<div class="text-center">
		<h1 class="text-warning ">Benvenuti da TOTO' SAPORE</h1>
		<hr />
		<h3 class="text-danger">Ristorante - Pizzeria</h3>
		<p>
	</div>
	<a class="navbar-brand">
		<img src="/images/pizzahome.jpg" class="card-img w-100% pb-3 mx-auto d-block" alt="sfondo">
	</a>
	<!--Inizio footer-->
	<div class="my-5 pt-4 bg-success text-center text-white">
		<div class="row">
			<div class="col-4">
				<H5 class="text-uppercase">Info</H5>
				<hr />
				<p>081 8793382</p>
				<p>Via Napoli, 55 (NA)</p>
				<p>Aperti tutti i giorni (18.00-03.00)</p>

			</div>
			<div class="col-4">
				<H5 class="text-uppercase">Social</H5>
				<hr />
				<p>Facebook</p>
				<p>Instagram</p>
				<p>TikTok</p>
			</div>
			<div class="col-4">
				<H5 class="text-uppercase">Recensioni</H5>
				<hr />
				<p>TripAdvisor</p>
				<p>Google</p>
				<p>Dissapore</p>
			</div>

		</div>
	</div>
</body>

</html>