<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="fragments/risorse :: risorse-head"></th:block>
	<title>Pizze</title>
</head>

<body>
	<nav th:replace="fragments/navbar :: navbar('list')"></nav>
	<div class="container">
		<!--  messaggi alert  -->
		<th:block th:if="${successMessage != null && successMessage != ''}">
			<div class="alert alert-warning" th:text="${successMessage}"></div>
		</th:block>
		<p>
		<h1>Elenco Pizze</h1>
		<hr />
		<!-- link che mi porta al controller che restituisce la form -->

		<!--  tabella con tutte le pizze -->
		<table class="table">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Descrizione</th>
					<th>Prezzo (€)</th>
					<th>Ingredienti</th>
					<th>Modifiche</th>
				</tr>
			</thead>
			<tbody th:if="${pizze.size() > 0}">
				<tr th:each="p : ${pizze}">
					<td th:text="${p.name}">Nome</td>
					<td th:text="${p.description}">Descrizione</td>
					<td th:text="${p.price}">Prezzo</td>
					<td>
						<ul>
							<li th:each="i : ${p.ingredienti}" th:text="${i.name}"></li>
						</ul>
					</td>
					<td>

						<a class="btn btn-danger" th:href="@{|/edit/${p.id}|}" title="Modifica">
							<i class="fa-solid fa-pen-to-square"></i>
						</a>
						<a class="btn btn-warning" th:href="@{|/delete/${p.id}|}" title="Cancella"
							onclick="return confirm('Sei sicuro?')">
							<i class="fa-solid fa-trash-can"></i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- se la lista di pizze è vuota -->
		<div class="alert alert-warning my-5" th:unless="${pizze.size() > 0}">
			<h3>Non c'é nemmeno una pizza!</h3>
		</div>
		<hr />
		<a class="btn btn-warning" th:href="@{/add}">Aggiungi una pizza al menù</a>
	</div>

	<th:block th:replace="fragments/risorse :: risorse-js"></th:block>
</body>

</html>